---
import Layout from '../layouts/Layout.astro';
import HomeSection from "../components/HomeSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<Layout title="Santiago's Portfolio">
	<main class="min-h-screen flex flex-col">
		<HomeSection />
		<ProjectsSection />
	</main>
</Layout>