@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow: scroll;
}

body {
	background-color: #000000;
  	width: 100vw !important;
  	height: 100vh;
	overflow-y: scroll;
}

.titles-font {
  	font-family: 'Segoe UI', sans-serif;
  	font-weight: bold;
  	font-size: 60px;
}

.subtitles-font {
  	font-family: 'Segoe UI', sans-serif;
  	font-weight: bold;
  	font-size: 30px;
}

.card-title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: x-large;
	color: white;
}

.icon-container {
	width: 60px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.icon-name {
	margin-top: 8px;
	visibility: hidden;
}


.icon-container:hover span {
	visibility: visible;
	transition: all;
}

.project-card-container {
	width: 450px;
	height: 550px;
}

h3,
h2,
.about-me,
.icon-container,
.scroll-animation {
	animation: fade linear both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@layer components {
  .header-links{
    @apply text-[#c1c1c1] font-light px-1 py-0.5 rounded hover:bg-[#E2DCC9] hover:text-black transition;
  }

  .footer-links{
    @apply text-[#c1c1c1] text-sm font-light flex items-center hover:text-zinc-300 transition;
  }

  .arrow-link{
    @apply text-lg ml-1;
  }
}