<section class="flex flex-col w-[100%] justify-center items-center px-12 md:px-20 gap-4 mt-0 mb-32">
    <h3 class="text-[#A4A4A4] text-4xl md:text-4xl md:font-medium mb-2 mt-8">About Me</h3>
    <div class="w-full flex flex-col gap-8 md:gap-0 md:flex-row items-center justify-around">
        <img src="/santiago.jpeg" alt="Santiago picture" class="w-52 rounded-lg">
        <p class="text-white md:w-3/5 text-xl xl:text-base">Hi I'm Santiago, since I was a child I have always liked everything related to technology. Now I am a software developer graduated from Holberton School, there I learned to work with peers, since the study methodology was by projects and we didn't have teachers, I also improved my soft skills talking in front of people and dealing with difficult situations.
            <br><br>
            Now I work in projects with friends for clients, and I am also looking for a job where I can improve my skills and be more professional.</p>
    </div>
</section>