<footer class="fixed bottom-0 w-full h-12 flex justify-center align-center">
    <div class="md:w-1/3 flex justify-evenly items-center w-full text-[#A4A4A4]">
        <a href="https://github.com/TotiFlame" target='_blank' class="text-lg ml-1">GITHUB</a>
        <a href="https://www.linkedin.com/in/fernandez-santiago/" target='_blank' class="text-lg ml-1">LINKEDIN</a>
        <a href="mailto:santiagoferna4321@gmail.com" target='_blank' class="text-lg ml-1">MAIL</a>
    </div>
</footer>
