<footer class="bottom-0 w-full h-auto my-4 gap-8 md:h-16 flex flex-col md:flex-row justify-around items-center">
    <a 
        href="/Santiago-Fernandez-CV.pdf"
        download="Santiago-Fernandez-CV.pdf"
        class="flex text-[#a4a4a4] py-2 px-2 border-[1px]
            border-[#a4a4a4] rounded-lg transition text-sm
            hover:bg-[#282828] hover:scale-105"
    >
        <img src="/file-download.svg"
            alt="CV buttom"
            class="fill-white pr-1 h-5"
        >
            Download CV
    </a>
    <div class="md:w-1/4 flex justify-around items-center w-full text-[#A4A4A4]">
        <a href="https://github.com/TotiFlame" target='_blank' class="flex items-center ml-1 hover:scale-105">
            <img src="/github.svg"
                alt="gihub logo"
                class="pr-1 h-5"
            >
            Github
        </a>
        <a href="https://www.linkedin.com/in/fernandez-santiago/" target='_blank' class="flex items-center ml-1 hover:scale-105">
            <img src="/linkedin.svg"
                alt="linkedin logo"
                class="pr-1 h-5"
            >
            Linkedin
        </a>
        <a href="mailto:santiagoferna4321@gmail.com" target='_blank' class="flex items-center ml-1 hover:scale-105">
            <img src="/mail.svg"
                alt="mail logo"
                class="pr-1 h-5"
            >
            Mail
        </a>
    </div>
</footer>