<header class="fixed z-30 top-0 w-full h-12 flex justify-center phone:invisible">
    <ul class="w-2/3 h-full flex justify-evenly items-center uppercase phone:invisible">
        <li class="text-[#a4a4a4] font-light px-1 py-0.5 rounded hover:bg-[#181818] transition">
            <a href="#home-section">[Home]</a>
        </li>
        <li class="text-[#a4a4a4] font-light px-1 py-0.5 rounded hover:bg-[#181818] transition">
            <a href="#projects-section">[Projects]</a>
        </li>
        <li class="text-[#a4a4a4] font-light px-1 py-0.5 rounded hover:bg-[#181818] transition">
            <a href="#about-me-section">[About me]</a>
        </li>
    </ul>
</header>