---
import '@fontsource/ibm-plex-mono/600.css';
---

<section class="w-full h-[100vh] flex flex-col items-center">
    <h2 class="text-white text-5xl md:font-medium mt-4">My Projects</h2>
    <span class="text-[#A4A4A4] text-2xl mt-8">Coming Soon...</span>
</section>